# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Vim / Neovim
*.swp
*.swo
*.swn
.vim/
Session.vim

# Env / secrets
.env
.env.local
.env.*

# Logs
*.log
